/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

body {
  margin: auto;
  max-width: 1400px;
  font-family: $noto;
  background-color: var(--bg-color);

  color: white;
  transition: background-color 2.5s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

// function
@function colorOpacity($color, $opacity){
  @return rgba($color, $opacity);
}