@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cabin:wght@400;500&family=DM+Sans&family=Josefin+Sans:wght@500&family=Mukta:wght@300;400;700&family=Noto+Sans+KR:wght@300;500&family=Varela+Round&display=swap');


/* Variables and mixins declared here will be available in all other SCSS files */

//fonts
$josefin: 'Josefin Sans', sans-serif;
$noto: 'Noto Sans KR', sans-serif;
$cabin: 'Cabin', sans-serif;
$varela: 'Varela Round', sans-serif;
$aclonica: 'Aclonica', sans-serif;
$mukta: 'Mukta', sans-serif;
$dm: 'DM Sans', sans-serif;

//text color
$bg-text-color: rgba(255, 255, 255, 0.3);

//theme colors
:root,
:root.green {
  --bg-color: #11160F;
  --text-color: #DEF8D6;
  --text-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, #ADFF00 61.46%, rgba(255, 255, 255, 0.92) 99.99%, rgba(226, 236, 206, 0.4) 100%);
  --opacity: 0.75;
  --navbar__background-color: #0e140c;
}

:root.blue {
  --bg-color: #141520;
  --text-gradient: linear-gradient(180deg, #030944 0%, #8692FF 59.37%, #030944 100%);
  --opacity: 0.75;
  --navbar__background-color: #0c0c14;
}
:root.dark {
  --bg-color: #000000;
  --text-gradient: white;
  --opacity: 1;
  --navbar__background-color: #000;
}

@mixin name--gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: var(--opacity);
}
