@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;1,500&family=Josefin+Sans:wght@500&family=Noto+Sans+KR:wght@500&family=Varela+Round&display=swap');


/* Variables and mixins declared here will be available in all other SCSS files */

//fonts
$josefin: 'Josefin Sans', sans-serif;
$noto: 'Noto Sans KR', sans-serif;
$cabin: 'Cabin', sans-serif;
$varela: 'Varela Round', sans-serif;

//colors


:root,
:root.green {
  --bg-color: #11160F;
  --text-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, #ADFF00 61.46%, rgba(255, 255, 255, 0.92) 99.99%, rgba(226, 236, 206, 0.4) 100%);

}

:root.blue {
  --bg-color: #141520;
  --text-gradient: linear-gradient(180deg, #030944 0%, #8692FF 59.37%, #030944 100%);
}

//green
$bg-color: #11160F;
$bg-text-color: rgba(255, 255, 255, 0.3);
$title: white;
$name: white;

.name--gradient {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.75;
}

//black
.black{
    $bg-color: #000000;
    $bg-text-color: rgba(255, 0, 0, 0.171);
    $title: white;
    $name: white;
}